.tab-Item-container {
}
.tab-btn {
  color: #ffffff;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  margin-right: 5px;
  border: none;
  padding: 5px 8px 5px 8px;
  cursor: pointer;
  outline: none;
}
.selecte-tab-butn {
  color: #fec653;
  border-bottom: 3px solid #fec653;
}
